<link rel="stylesheet" href="/css/pages/new/article.css">
<div class="container">
    <div class="formWrapper">
        <div class="formInfo background">
            <i class="fas fa-plus-square"></i>
            <h3>New Article</h3>
        </div>
        <hr>
        <form action="/new/article" method="post" enctype="multipart/form-data">
            <div class="harmonyInput">
                <label for="title">Title*</label><br>
                <input id="title" placeholder="Title (5 New York City Hotels)" type="text" name="title" value="{{preserved.title}}" required="">
            </div>
            <div class="harmonyInput">
                <label for="content">Content*</label><br>
                <textarea id="content" placeholder="Content (New York City’s Upper East Side might be one of its best-known neighborhoods for culture...)"
                        type="text" name="content" required="">{{preserved.content}}</textarea></div>

            <div class="harmonyInput">
                <label for="excerpt">Excerpt</label><br>
                <textarea id="excerpt" placeholder="Keep your excerpt short, like a trailer for a movie."
                          type="text" name="excerpt">{{preserved.excerpt}}</textarea>
            </div>
            <div class="harmonyInput">
                <label for="name">Image</label><br>
                <input id="file" placeholder="Image" type="file" name="image" accept="image/x-png,image/gif,image/jpeg">
                <hr>
                <input id="url" placeholder="Image URL" type="text" name="imageURL" value="{{preserved.imageURL}}">
            </div>
            <input type="submit">
            <p id="error">{{error}}</p>
            <p id="status">{{status}}</p>
        </form>
    </div>
</div>
