<link rel="stylesheet" href="/css/pages/user/profile.css">
<link rel="stylesheet" href="/css/partials/pagination.css">
<link rel="stylesheet" href="/css/partials/listing-card.css">
<link rel="stylesheet" href="/css/partials/article-card.css">
<div id="userProfile" class="d-flex justify-content-center align-items-center">
    <div id="userProfileContainer">
        <div id="userCard">
            <div class="avatar" style="background-image: url('{{#if user.avatar}}{{user.avatar}}{{else}}/assets/placeholder.png{{/if}}')"></div>
            <div id="userInfo">
                {{#if loggedIn}}<button id="edit" title="Edit profile"><i class="far fa-edit"></i></button>{{/if}}
                <h1 id="name">{{user.name}}</h1>
                <span id="username">@{{user.username}}</span>
                <hr>
                <p id="bio">{{user.bio}}</p>
                {{#if loggedIn}}
                    <form action="/@" method="post" id="editedData" enctype="multipart/form-data">
                        <label for="avatar" id="avatarLbl">
                            Change
                        </label>
                        <input type="file" id="avatar" name="avatar">
                        <input type="text" id="name" name="name" value="">
                        <input type="text" id="bio" name="bio" value="">
                        <button type="submit" id="submit" title="Save Edits"><i class="fas fa-check"></i></button>
                    </form>
                    <p>{{error}}</p>
                    <p>{{status}}</p>
                {{/if}}
            </div>
        </div>
        <hr>
        <div id="userPosts">
            <span id="filter">
                <button type="button" {{#if listings}}class='currentPage'{{/if}} onclick="location.href='/@{{user.username}}?posts=listings'">Listings</button>
                <button type="button" {{#if articles}}class='currentPage'{{/if}} onclick="location.href='/@{{user.username}}?posts=articles'">Articles</button>
            </span>
            {{#if listings}}
                {{#if listings.pages}}{{>pagination page=listings.page pages=listings.pages path=(concat "/@" user.username "?posts=listings&page=")}}{{/if}}
                {{#each listings.results}}
                    {{> listing-card this}}
                {{/each}}
            {{else if articles}}
                {{#if articles.pages}}{{>pagination page=articles.page pages=articles.pages path=(concat "/@" user.username "?posts=articles&page=")}}{{/if}}
                {{#each articles.results}}
                    {{> article-card image=this.image title=this.title excerpt=this.excerpt content=this.content id=this._id authorID=this.author._id authorName=this.author.name date=this.date}}
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>
<script src="/js/profile.js"></script>