<link rel="stylesheet" href="/css/pages/articles/article.css">
<div class="articleContainer">
    <div id="backgroundImage" style="background-image: url('{{image}}')"></div>
    <div id="darkOverlay"></div>
    <div class="article">
        {{#if author}}
            Posted By <div class="user" onclick="location.href='/@{{author.username}}';">
            <div class="userAvatar" style="background: url('{{#if author.avatar}}{{author.avatar}}{{else}}/assets/placeholder.png{{/if}}')"></div>
            <div id="author"><span id="authorname">{{author.name}}</span> <span id="username">@{{author.username}}</span></div>
        </div>
        {{/if}}
        <span id="date">{{date}}</span>
        <h1 id="title">{{title}}</h1>
        <p id="content">{{content}}</p>
    </div>
</div>
<script src="/js/article.js"></script>